<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<p>picture of the space!</p>
			</div>
			<div class="col-md-3">
				<div class="caption">
					<h4><%= @space.name %></h4>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			<h5><%= @space.wreck_or_reuse %></h5>
			<h5><%= @space.fee_or_free %></h5>
			<h5><%= @space.practice_or_perform %></h5>
			<h5><%= @space.sq_footage %></h5>
		</div>
	</div>
</div>
<div>
	<%= render 'comments/form' %>
</div>

